
ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

li {
  display: inline-block;
  padding: 10px;
}
a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

nav {
  display: flex;
  width: 100%;
}

.navbar-left {
  padding: 0px;
  vertical-align: middle;
  margin-right: auto;
}

.navbar-right {
  padding: 0px;
  vertical-align: middle;
}

.apps-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  padding: 10px;
  width: 25px;
}

.apps-container:hover {
  background-color: #eee;
  border-radius: 50%;
}

.apps-dot {
  background-color: #777;
  border-radius: 50%;
  width: 5px;
  height: 5px;
}

.google-logo {
  padding: 180px 0px 20px 0px;
  margin: auto;
  width: 272px;
}
.google-logo img{
  text-align: center;
}

.search-box:hover{
  box-shadow: 1px 1px 10px #ddd;
}

.search-box {
  display: flex;
  margin: auto;
  padding: 10px;
  height: 20px;
  width: 550px;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  border-color: #ddd;

}

input {
  border-style: hidden;
}

.search-input:focus {
  outline: none;

}

.buttons {
  margin: auto;
  display: flex;
  padding: 20px;
  width: 380px;
}

button {
  border-style: hidden;
  padding: 10px 20px;
  border-radius: 10%;
  background-color: #f8f8f8;
}

button:hover{
  box-shadow: 0px 0px 2px #aaa;
}

.google-search {
  padding: 20px;
}

.feeling-lucky {
  padding: 20px;
}


footer {
  position: fixed;
  display: flex;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px;
  background-color: #eee;
}
.footer-left{
  margin-right: auto;
}

.footer-right {
  margin-right: 10px;
}

.avatar {
  border-radius: 50%;
  width: 30px;
  vertical-align: middle;
}

#apps {
  padding: 5px;
  vertical-align: top;
}
