
ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: lighter;

}

li {
  display: inline;
  padding: 10px;
}
a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  width: 100%;
}

.navbar-left {
  padding: 30px 10px 10px 10px;
  vertical-align: middle;
  margin-right: auto;
}

.navbar-right {
  padding: 10px;

}

.google-logo {
  padding: 180px 0px 20px 0px;
  margin: auto;
  width: 272px;
}
.google-logo img{
  text-align: center;
}

.search-box:hover{
  box-shadow: 1px 1px 10px #ddd;
}

.search-box {
  display: flex;
  margin: auto;
  padding: 10px;
  height: 20px;
  width: 550px;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  border-color: #ddd;

}

input {
  border-style: hidden;
}

.search-input:focus {
  outline: none;

}

.buttons {
  margin: auto;
  display: flex;
  padding: 20px;
  width: 310px;
}

.google-search {
  padding: 10px;
}

.feeling-lucky {
  padding: 10px;
}

footer {
  position: fixed;
  display: flex;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px;
  background-color: #eee;
}
.footer-left{
  margin-right: auto;
}

.footer-right {
  margin-right: 10px;
}

.avatar {
  border-radius: 50%;
  width: 60px;
  vertical-align: middle;
}
